*{
padding :0;
margin:0;
box-sizing: 0;
}

.content{
    height: 100vh;
}

.navbar{
    background-color: gold !important;
}

.register-page {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* transection page */
.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 0 0 15px gray;
}

.switch-icons{
    border: 1px solid rgba(0 , 0, 0, 0.677);
    border-radius: 5px;
    padding: 10px 15px;
}

/*antd icons*/
.anticon svg{
    font-size: 20px;
    cursor: pointer;
}

.active-icons{
    color: black;
}
.inactive-icons{
    color: crimson;
}